@media screen and (min-width: 768px) {

    /* General Layout */
    body {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    header {
      padding: 10px 50px;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    section {
      margin: 20px 50px;
    }
  
    /* Foto en columnas */
    img {
      max-width: 700px;
    }
  
    ul {
      display: flex;
      justify-content: space-between;
    }
  
    li {
      margin: 0 10px;
    }
  
    /* Footer en fila */
    footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 50px;
    }
  }
  